In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("dataset_of_2000.csv")
df2 = pd.read_csv("dataset_of_2001.csv")
df3 = pd.read_csv("dataset_of_2002.csv")
df4 = pd.read_csv("dataset_of_2003.csv")
df5 = pd.read_csv("dataset_of_2004.csv")
df6 = pd.read_csv("dataset_of_2005.csv")
df7 = pd.read_csv("dataset_of_2006.csv")
df8 = pd.read_csv("dataset_of_2007.csv")
df9 = pd.read_csv("dataset_of_2008.csv")
df10 = pd.read_csv("dataset_of_2009.csv")
df11 = pd.read_csv("dataset_of_2010.csv")
df12 = pd.read_csv("dataset_of_2011.csv")
df13 = pd.read_csv("dataset_of_2012.csv")
df14 = pd.read_csv("dataset_of_2013.csv")
df15 = pd.read_csv("dataset_of_2014.csv")
df16 = pd.read_csv("dataset_of_2015.csv")
df17 = pd.read_csv("dataset_of_2016.csv")
df18 = pd.read_csv("dataset_of_2017.csv")
df19 = pd.read_csv("dataset_of_2018.csv")
df20 = pd.read_csv("dataset_of_2019.csv")
df21 = pd.read_csv("dataset_of_2020.csv")

In [3]:
# Combine all DataFrames into one
combined_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, 
                         df17, df18, df19, df20, df21  ], ignore_index=True)

# Display the combined DataFrame
display(combined_df)

,imdb_id,movie_title,genres,each_genre,imdb_rating,metascore,vote_count,release_year,release_month,runtime,actors,director,budget,worldwide_gross
0,tt0172495,Gladiator,"Action, Adventure, Drama",action,8.5,67.0,1743461,2000,5.0,9300.0,"['Russell Crowe', 'Joaquin Phoenix', 'Connie N...",Ridley Scott,"$103,000,000 (estimated)","$465,516,248"
1,tt0120903,X-Men,"Action, Adventure, Sci-Fi",action,7.3,64.0,670096,2000,7.0,6240.0,NaN,NaN,NaN,NaN
2,tt0212346,Miss Congeniality,"Action, Comedy, Crime",action,6.3,43.0,238741,2000,12.0,6540.0,"['Sandra Bullock', 'Michael Caine', 'Benjamin ...",Donald Petrie,"$45,000,000 (estimated)","$212,742,720"
3,tt0160127,Charlie's Angels,"Action, Adventure, Comedy",action,5.6,52.0,201270,2000,11.0,5880.0,NaN,NaN,NaN,NaN
4,tt0187393,The Patriot,"Action, Drama, History",action,7.2,63.0,302532,2000,6.0,9900.0,"['Mel Gibson', 'Heath Ledger', 'Joely Richards...",Roland Emmerich,"$110,000,000 (estimated)","$215,294,342"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,tt8801584,Sunrise in Heaven,"Drama, Romance",romance,5.7,NaN,1982,2020,4.0,5100.0,NaN,NaN,NaN,NaN
6996,tt2140571,The Broken Hearts Gallery,"Comedy, Romance",romance,6.3,57.0,10634,2020,9.0,6540.0,NaN,NaN,NaN,NaN
6997,tt1070874,The Trial of the Chicago 7,"Drama, History, Thriller",thriller,7.7,76.0,199468,2020,10.0,7740.0,"['Eddie Redmayne', 'Alex Sharp', 'Sacha Baron ...",Aaron Sorkin,"$35,000,000 (estimated)",NaN
6998,tt7939766,I'm Thinking of Ending Things,"Drama, Thriller",thriller,6.5,78.0,104325,2020,9.0,8040.0,"['Jesse Plemons', 'Jessie Buckley', 'Toni Coll...",Charlie Kaufman,NaN,NaN
6999,tt0920462,Lost Girls and Love Hotels,"Drama, Thriller",thriller,4.7,57.0,5821,2020,9.0,5820.0,"['Alexandra Daddario', 'Takehiro Hira', 'Caric...",William Olsson,NaN,"$106,045"